<div> 
    <h2 style = "color:blue">Map Of Campus</h2> 
    <h3> Click on a red dot to see what event is occuring there!</h3>
 <!--   <a (click)="onSubmit()"> <img src="assets/CAMPUS.PNG "/></a> -->
     <button class="block" routerLink="/eventsdetails/2"> <img src="assets/CAMPUS.PNG" style='max-width: 500px'/></button> 
 <!--   <button routerLink="/eventsdetails/4"> select</button> -->

<!-- 
<style>
    .block {
      display: block;
      width: 10%;
  
    }
    
    .block:hover {
      background-color: #ddd;
      color: black;
    }
    </style> -->
</div>
