
<form>
    <h3>  </h3>
    <h3>  </h3>
    <h3 style = "color:purple">Create a New User:</h3> 
    <h3></h3>
    <h3></h3>
    <h4> Enter a username:  <input type="text" [(ngModel)]='username' name="username" placeholder="Type username here...."></h4>
    <h3></h3>
    <h4> Enter a password:  <input type="text" [(ngModel)]='password' name="password" placeholder="Type password here...."></h4>
    <h3></h3>
    
    <button style = "color:blue" class="button" type="submit" (click)="onSubmit()" routerLink="/login">Create User</button>
 

    
</form>
