<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="use_sql_comments">false</property>
 
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">${JDBC_CONNECTION_STRING}</property>
        <property name="hibernate.connection.username">${JDBC_USERNAME}</property>
        <property name="hibernate.connection.password">${JDBC_PASSWORD}</property>
 
        <!-- add classes to map from here -->
        <mapping class="org.ksautter.sea.model.User" />
        <mapping class="org.ksautter.sea.model.Post" />
        <mapping class="org.ksautter.sea.model.Event" />
        <mapping class="org.ksautter.sea.model.Location" />
        <mapping class="org.ksautter.sea.model.PrivateEventUser" />
    </session-factory>
</hibernate-configuration>