
<h2  *ngIf="!seaService.loggedIn()" style = "color:blue">Login</h2> 


<img src="assets/login.png" style='max-width: 100px'> 

<h3></h3>
<h5 *ngIf="!seaService.loggedIn()">
<h4> Username:  <input type="text" [(ngModel)]='loginUsername' name="eventTitle" placeholder="Type username here...."></h4>
<h3></h3>
<h4> Password:  <input type="password" [(ngModel)]='loginPassword' name="login" placeholder="Type password here...." id="myInput" ></h4>
<h3></h3>
<input type="checkbox" onclick="myFunction()">Show Password


<h3></h3>
<button style = "color:blue" class="button" type="submit" (click)="onSubmit()" routerLink="/events">LOGIN</button>
<h3></h3>
<h3></h3>
<button style = "color:blue" routerLink="/user"> CREATE NEW USER</button>
</h5>
<html>
<body>
<h3 *ngIf="seaService.loggedIn()">
 <button style = "color:blue" class="button" type="submit" (click)="onSubmit2()" routerLink="/events">LOGOUT</button>
</h3>
<script>
function myFunction() {
 // var x = document.getElementById("myInput");
  if (type === "password") {
    type = "text";
  } else {
    type = "password";
  }
}
</script>

<script>
  function white_space(field) {
    field.value = field.value.replace(/^\\s+/, "");
  }
</script>
</body>
</html>

