
<h1>Private Discussions</h1>



    <li *ngFor="let discussion of discussions">
        <nav> 
            <button class="block" style = "color:white" [routerLink]="['/discussiondetails', discussion.id]" routerLinkActive="active"> {{discussion.title}}</button>

       <!--      <a [routerLink]="['/discussiondetails', discussion.id]" routerLinkActive="active">{{discussion.title}}</a>           -->
        </nav>
        <h3></h3>
        <router-outlet></router-outlet> 
    </li>



<style>
    .block {
      display: block;
      width: 17%;
      border: none;
      background-color: rgb(76, 155, 175);
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }
    
    .block:hover {
      background-color: #ddd;
      color: black;
    }
    </style>

<form>
    <h3>  </h3>
    <h3>  </h3>
    <h3 style = "color:purple">Create a Discussion:</h3> 
    <h3></h3>
    <h4> Enter Title:  <input type="text" [(ngModel)]='eventTitle' name="eventTitle" placeholder="Type title here...."></h4>
    <h3></h3>
    <h4> Enter Date:  <input type="text" [(ngModel)]='eventDate' name="eventDate" placeholder="Type event date here...."></h4>
    <h3></h3>
    <button routerLink="/adduser" class="button" type="submit" (click)="onSubmit()" >ADD USERS</button>

    
</form>
