
<!-- <span>{{ title }} is running!</span> 

<h1 style = "color:green">WELCOME!</h1> 
<h2>Please login for full capabilities</h2> 
<h3>All Public Events:</h3> 

<ul>
    <li *ngFor="let event of events">
        {{ event }}
    </li>
</ul>

--> 

<h1 style = "color:green">Welcome to the Student Engagement Application!</h1> 
<!--  <h2>Please login for full capabilities</h2> -->
<nav>
  <a routerLink="/events" routerLinkActive="active">Home Page</a>
  <span> &nbsp; </span>
  <a routerLink="/locations" routerLinkActive="active">Locations</a>
  <span> &nbsp; </span>
  <a routerLink="/discussions" routerLinkActive="active">Private Discussion Board</a>
  <span> &nbsp; </span>
  <a routerLink="/users" routerLinkActive="active">Create User</a>
  <span> &nbsp; </span>
  <a routerLink="/login" routerLinkActive="active">Login</a>
 <!-- <a routerLink="/eventsdetail" routerLinkActive="active">Events</a> -->
</nav>
<router-outlet></router-outlet>    

    
