<div> 
    <h1 style = "color:blue">{{event.title}}:</h1> 
    <h4>Date: {{event.datetime | date}} </h4> 
    <h4>Time: {{event.datetime | date:'shortTime' }} </h4> 
    <h4>Location: <button [routerLink]="['/locationsdetails', location.id]" routerLinkActive="active">{{location.name}}</button> 

    </h4> 



</div>

<h1>Messages:</h1> 

<ul>
    <li *ngFor="let post of posts">
        <h4 style = "color:blue">{{post.message}}</h4> 
         <span> Posted by: {{post.username}} </span>
         <h3></h3>
         <span> Posted at: {{post.datetime | date:'medium' }} </span>
        
        
    </li>
</ul> 
<form *ngIf="seaService.loggedIn()">
    <h3>  </h3>
    <h3>  </h3>
    <h3 style = "color:purple">Respond to discussion:</h3> 
    <h3></h3>
    <h3></h3>
    <textarea type="text" [(ngModel)]='postInfo' name="postInfo" placeholder="Type something here...."></textarea>
    <h3></h3>
    <button class="button" type="submit" (click)="onSubmit()" >Create Message</button>

    
</form>
