
<h3></h3>
<img src="assets/banner.jpg" style='max-width: 400px'> 
<h3></h3>
    <li *ngFor="let event of events">
        <nav> 
            <h3>     </h3><button class="block" style = "color:white" [routerLink]="['/eventsdetails', event.id]" routerLinkActive="active"> {{event.title}}</button>
            
        </nav>
        <h3></h3>
        <router-outlet></router-outlet> 
    </li>


<style>
    .block {
      display: block;
      width: 17%;
      border: none;
      background-color: rgb(76, 155, 175);
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }
    
    .block:hover {
      background-color: #ddd;
      color: black;
    }
    </style>

<form *ngIf="seaService.loggedIn()">
    <h3>  </h3>
    <h3>  </h3>
    <h3>  </h3>
    <h2 style = "color:blue">Create a Public Event:</h2> 
    <h3></h3>
    <h3></h3>
    <h4> Title:  <input type="text" [(ngModel)]='eventTitle' name="eventTitle" placeholder="Type title here...."></h4>
    <h3></h3>
    <h4> Date:  <input type="text" [(ngModel)]='eventDate' name="eventDate" placeholder="Type event date here...."></h4>
    <h3></h3>
    <h4> Location: </h4>
    <select (change)="selectLocation($event.target.value)">
        <option disabled selected value> -- select an option -- </option>
        <option *ngFor="let location of locations" value={{location.id}}>{{location.name}}</option>
    </select>    <h3></h3>

    <button style = "color:blue" class="button" type="submit" (click)="onSubmit()" >Create Event</button>

</form>

