<h3>All Public Events:</h3> 

<ul>
    <li *ngFor="let event of events">
        <nav> 
            
             <a [routerLink]="['/eventsdetails', event.id]" routerLinkActive="active">{{event.title}}</a>  
            
        </nav>
        <h3></h3>
        <router-outlet></router-outlet> 
    </li>
</ul> 


<form>
    <h3>  </h3>
    <h3>  </h3>
    <h3 style = "color:purple">Create a Public Event:</h3> 
    <h3></h3>
    <h3></h3>
    <h4> Title:  <input type="text" [(ngModel)]='eventTitle' name="eventTitle" placeholder="Type title here...."></h4>
    <h3></h3>
    <h4> Date:  <input type="text" [(ngModel)]='eventDate' name="eventDate" placeholder="Type event date here...."></h4>
    <h3></h3>
    <h4> Location:  <input type="text" [(ngModel)]='eventLocation' name="eventLocation" ></h4>
    <h3></h3>

    <button class="button" type="submit" (click)="onSubmit()" >Create Event</button>

    
</form>




